<div class="container-full target">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1 class="" contenteditable="false">チェックインの表示</h1>
      
      <div class="mt40">
      チェックインの表示

      </div>

    </div>

  </div>

