<div class="container-full target pb30">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1 class="" contenteditable="false">トーク画面</h1>
      
      <div class="mt40 container-hals">
        「CSS」とマッチングしています。<br>

        
        <div class="userInfo">
          <table>
              <tr>
                  <th class="alignL"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR6Pj285eaOTx8KOXXiXJlbNhNZ79XJQ6XagdeeWhwPmo1cbo8ExA" width="100" height="100" alt=""></th>
                  <td>うえはそさん情報<br>
                  CSSのことならなんでも教えるよ！</td>
              </tr>
          </table>
        </div>

       <% @chats.each do |style, name, body| %>
        <div class="userInfo">
          <% if style == :me %>
          <table>
              <tr>
                  <td><%= name %>さん<br>
		  <%= body %>
                  </td>
                    <th class="alignL"><img src="https://pbs.twimg.com/profile_images/2754435592/6fef2556bc06febd5c6ab4c24ae08282_400x400.jpeg" width="100" height="100" alt=""></th>
     	</tr>
	</table>
	 <% else %>
          <table>
              <tr>
                  <th class="alignL"><img src="https://pbs.twimg.com/profile_images/2754435592/6fef2556bc06febd5c6ab4c24ae08282_400x400.jpeg" width="100" height="100" alt=""></th>
                  <td><%= name %>さん<br>
		  <%= body %></td>
              </tr>
          </table>
	  <% end %>
        </div>

       <% end %>
       </div>
        <a href="/talk/teach" class="btn btn-default btnStyle mb40">教えてください！！</a>
        <a id="btm"></a>
      </div>

    </div>

  </div>

