<div class="container-full target">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      
      <script>
        setTimeout(function() {
            $(".popupBox").fadeIn();
        }, 3000);
          $(".popupBox").fadeIn();
      </script>
      
      <div class="popupBox">
        <a href="/matching" class="btn btn-default btnStyle"><%= @society %>さんがチェックインしました</a>
      </div>

    </div>

  </div>


