

<div class="container-full target">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
    
      <h1 class="mb20"><i class="fa fa-map-marker"></i>&nbsp;ポートインク</h1>
      
      <script>
        setTimeout(function() {
            $(".popupBox").fadeIn();
        }, 3000);
          $(".popupBox").fadeIn();
      </script>
      
      <div class="popupBox">
        <a href="/matching" class="btn btn-default btnStyle">うえはそさんがチェックインしました</a>
      </div>

    </div>

  </div>


