<div class="container-full target">

  <div class="container">

    <div class="row">
      <div class="">
      <h1 class="alignC">送信完了</h1>
      
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          <%= @thanks %>
          
          <a href="/notify" class="kakushiBtn"></a>
          
        </div>

      </div>
      <!-- /.container -->

</div>
