<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          <%= @thanks %>        
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="https://farm6.staticflickr.com/5515/9639038913_e0b12446e9.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

</div>
